@model IEnumerable<WebApplication1.Models.ProdutoModel>

<h3>@ViewData["Title"] </h3>

<form asp-action="Index">
    <div class="form-horizontal">
        @Html.ActionLink("Novo Registro", "Create", "Produto")
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer ">
                <thead>
                    <tr>
                        <th class="configuraColunaAcoes">
                            Ações
                        </th>

                        <th class="configuraColunaAcoes">
                            Código
                        </th>
                        <th>
                            Nome Produto
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @Html.AntiForgeryToken()

                    @foreach (var item in Model)
            {
                        <tr>

                            <td>

                                @Html.ActionLink("Editar", "Edit", "Produto", new { @id = item.Id })
                                @Html.ActionLink("Deletar", "Delete", "Produto", new { @id = item.Id })
                                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id })*@

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeProduto)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
